.SidebarLeft {
    position: fixed;
    left: -204px;
    top: 100px;
    bottom: 100px;
    background-color: #fff;
    z-index: 5;
    width: 250px;
    transition: all 0.3s ease-in;

    &.show {
        left: 40px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    }

    .content {
        padding: 10px;

        h2 {
            color: #000;
        }
    }

    .toggle {
        background-color: #fff;
        border-radius: 0 3px 3px 0;
        position: absolute;
        right: -18px;
        top: 50%;
        transform: translate(0, -50%);
        overflow: hidden;
        width: 18px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4);

        svg {
            transition: all 0.3s ease-in;
            transform: rotate(180deg);
        }

        &.show {
            svg {
                transform: rotate(0deg);
            }
        }
    }
}