.UserItem {
    width: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 5px 30px;
    cursor: pointer;

    > div {
        &:first-child {
            border-radius: 50%;
        }
    }

    .name {
        margin-top: 5px;
        text-align: center;
        color: #075ea5;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .UserItem {
        margin-bottom: 20px;
    }
}