.ArticleItem {
    padding: 10px 15px;
    background-color: #fff;
    margin-bottom: 15px;
    display: flex;
    width: 100%;
    position: relative;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    &:hover {
        box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
    }

    .id {
        width: 50px;
        flex-shrink: 0;
    }

    .name {
        flex-grow: 1;
    }

    .type {
        width: 150px;
        flex-shrink: 0;
    }
}