.NinthMay {
    padding: 40px 0;

    .container {
        width: 100%;
        margin: 0 auto;
        max-width: 1024px;
        display: flex;
        position: relative;
        justify-content: space-between;
        flex-wrap: wrap;

        .widget {
            width: 49%;
            margin-bottom: 40px;
        }

        .widgetName {
            text-transform: uppercase;
            color: #fff;
            font-size: 20px;
            display: block;
            padding-bottom: 10px;
            margin-bottom: 20px;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 150px;
                height: 1px;
                background: #ffcc01;
            }
        }

        .listArticles {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 100%;

            .item {
                position: relative;
                box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
                width: 48%;
                height: 240px;
                margin-bottom: 20px;
                background-color: #fff;
                transition: all 0.3s ease-in;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                cursor: pointer;

                &:hover {
                    box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
                }

                .itemImage {
                    width: 100%;
                    height: 100%;
                    flex-shrink: 0;
                    background-color: #ccc;
                    overflow: hidden;
                    position: relative;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }

                    &.noImage {
                        background-image: url('./img/no-image.jpg');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;

                        &::before {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background: #075ea5;
                            background: linear-gradient(135deg, #000000 0%, transparent 60%, transparent 80%, #ffcc01 100%);
                            z-index: 1;
                        }

                        &::after {
                            content: '';
                            display: block;
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0.5;
                            background-color: #075ea5;
                            background-image: url('./img/bg-pattern.png');
                            background-position: center;
                            background-size: 3px;
                            background-repeat: repeat;
                            z-index: 2;
                        }
                    }
                }

                .itemContent {
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 2;
                    padding: 10px;
                    display: flex;
                    flex-direction: column;

                    h3 {
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 18px;
                        display: inline-block;
                        margin-bottom: 0;
                        position: absolute;
                        right: 0;
                        bottom: 10px;
                        background: #075ea5;
                        color: #fff;
                        padding: 3px 5px;
                        max-width: 100%;
                        text-align: right;
                    }

                    .types {
                        .type {
                            font-size: 14px;
                            padding: 2px 5px;
                            display: inline-block;
                            margin-right: 10px;

                            &.article {
                                background: #008606;
                                color: #fff;
                            }

                            &.action {
                                background: #ffcc01;
                            }

                            &.news {
                                background: #075ea5;
                                color: #fff;
                            }
                        }
                    }

                    .information {
                        position: absolute;
                        right: 0;
                        top: 10px;
                        display: flex;
                        align-items: center;

                        .icon {
                            margin-right: 10px;
                            color: #999;

                            svg {
                                height: 15px;
                                vertical-align: middle;
                            }

                            span {
                                font-size: 11px;
                                line-height: 15px;
                                vertical-align: middle;
                                margin-left: 3px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .NinthMay {
        .container {
            padding: 0 10px;
        }
    }
}

@media (max-width: 768px) {
    .NinthMay {
        .container {
            .widget {
                width: 100%;
            }
        }
    }
}

@media (max-width: 480px) {
    .NinthMay {
        .container {
            .listArticles {
                .item {
                    width: 100%;
                }
            }
        }
    }
}