.Main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Content {
    flex-grow: 1;
    background-image: url('img/bg-main.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}