* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 16px;
    color: #075ea5;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: #075ea5;
    transition: all 0.3s ease-in;
}

a:hover {
    text-decoration: underline;
}

input[type=submit],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    background: #efefef;
    height: 100%;
    padding: 0 40px 0 14px;
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 0;
    font-family: 'Open Sans', sans-serif !important;
    font-size: 14px !important;
    color: #000;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#root {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 30px;
}

p {
    line-height: 20px;
    font-size: 16px;
    margin-bottom: 20px;
}