* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-size: 15px;
    color: #075ea5;
    scroll-behavior: smooth;
    font-family: 'PT Serif', serif;
}

::-webkit-scrollbar {
    width: 6px;
    cursor: pointer;
    background-color: transparent;
}

::-webkit-scrollbar:horizontal {
    height: 6px;
}

::-webkit-scrollbar-thumb {
    border-radius: 25px;
    background-color: #075ea5;
    cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #ffcc01;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: transparent;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #075ea5;
    transition: all 0.3s ease-in;
}

a:hover {
}

input[type="submit"],
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
}

input[type="search"] {
    -webkit-appearance: textfield;
    background: #efefef;
    height: 100%;
    padding: 0 40px 0 14px;
    width: 100%;
    outline: none;
    border: 0;
    border-radius: 0;
    font-family: 'PT Serif', serif !important;
    font-size: 14px !important;
    color: #000;
}

input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#root {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 26px;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
    font-weight: 700;
}

p {
    line-height: 18px;
    font-size: 15px;
    margin-bottom: 18px;
}

.video-react-poster {
    background-size: cover !important;
    background-position: center !important;
}

.video-react .video-react-big-play-button {
    font-size: 6em !important;
    line-height: 1.6em !important;
    background-color: rgba(255, 204, 1, 0.7) !important;
    color: #075ea5 !important;
    border-radius: 50% !important;
    width: 100px !important;
    height: 100px !important;
    border: 1px solid #075ea5 !important;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%);
}