.Building {
    position: relative;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    > div {
        margin-right: 20px;
    }
}

.Content {
    padding: 40px 0;
    color: #000;

    h1 {
        display: flex;

        span {
            display: block;
            margin-right: auto;
            color: #fff;
        }
    }
}

.List {
    margin-top: 40px;
    display: flex;
    flex-direction: column;

    .item {
        margin-bottom: 40px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
        display: flex;
        width: 100%;
        background-color: #fff;

        .itemImage {
            width: 200px;
            flex-shrink: 1;
            background-color: #ccc;
        }

        .itemContent {
            flex-grow: 1;
            padding: 20px;

            h2 {
                font-size: 22px;
                margin-bottom: 40px;
                line-height: 24px;
            }

            .address {

            }
        }

        .itemInfo {
            width: 250px;
            flex-shrink: 1;
            padding: 20px;
            border-left: 1px solid #075ea5;

            .counter {
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 30px;
            }

            .cost {
                font-size: 20px;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .costPer {
                margin-bottom: 30px;
            }

            .area {

            }
        }
    }
}