.SupportPagePanel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.filter {
    display: flex;
    justify-content: center;
    height: 70px;

    > div {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }
}

.Content {
    color: #000;
    width: 100%;
    height: calc(100% - 70px);

    h1 {
        display: flex;

        span {
            display: block;
            margin-right: auto;
            color: #fff;
        }
    }
}