.PopupSupportCreate {
    width: 500px;
    height: 400px;
}

.content {
    height: 293px;
    overflow: auto;

    .info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 15px 0;
    }
}

.field {
    width: 100%;
    margin-bottom: 10px;
    position: relative;

    &.full {
        width: 100%;
    }
}

.field_label {
    font-size: 14px;
    color: black;
    margin-bottom: 3px;
    display: flex;
}