.ToolsPanel {
    position: fixed;
    right: 12px;
    top: 5px;
    padding: 10px 5px;
    z-index: 5;
    display: flex;

    .icon {
        color: #fff;
        transition: all 0.3s ease-in;
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        position: relative;

        &:hover {
            opacity: 0.7;
        }

        a {
            color: #fff;
        }

        + .icon {
            margin-left: 20px;
        }

        .counter {
            position: absolute;
            left: -12px;
            top: -5px;
            border-radius: 50%;
            background: #ffcc01;
            text-align: center;
            z-index: 2;
            font-size: 12px;
            line-height: 17px;
            width: 17px;
            height: 17px;
        }
    }
}