.DeveloperItemPagePanel {
    position: relative;
    height: 100%;
    overflow: auto;
}

.Content {
    color: #000;
    height: 100%;

    h1 {
        margin: 30px 0;
        text-align: center;

        span {
            display: block;
        }
    }

    .info {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;

        .row {
            display: flex;
            width: 48%;
            margin-bottom: 10px;

            span:first-child {
                width: 30%;
                font-weight: 700;
            }

            span:last-child {
                width: 70%;
                text-align: right;
            }
        }
    }

    .description {
        line-height: 20px;
        font-size: 16px;
        margin-top: 20px;
    }

    .block {
        width: 100%;
        position: relative;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
        background: #fff;
        padding: 30px;

        h2 {
            text-transform: uppercase;
            color: #777;
            font-size: 20px;
            display: block;
            padding-bottom: 10px;
            margin-bottom: 20px;
            position: relative;

            &::after {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 150px;
                height: 1px;
                background: #ffcc01;
            }
        }
    }
}

@media (max-width: 1024px) {
    .Content {
        .container {
            padding: 0 10px;
        }
    }
}