.button {
    height: 40px;
    padding: 0 10px;
    min-width: 103px;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #075ea5;
    background: linear-gradient(135deg, #075ea5 0%, #ffcc01 100%);
    color: #fff;
    border: 1px solid #075ea5;
}

.button:hover {
    box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.4);
}

.not-valid {
    opacity: 0.5;
}

.disabled {
    cursor: default;
}