.ArticleListPagePublic {
    position: relative;
    flex-grow: 1;
}

.Content {
    padding: 40px 0 0;
    color: #000;

    h1 {
        margin-bottom: 40px;
        text-align: center;

        span {
            display: block;
            margin-right: auto;
            color: #fff;
        }
    }

    .container {
        width: 100%;
        height: 100%;
        margin: 0 auto 60px;
        max-width: 1024px;
        position: relative;
    }

    .list {
        width: 100%;

        .item {
            position: relative;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
            display: flex;
            width: 100%;
            background-color: #fff;
            transition: all 0.3s ease-in;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: pointer;

            &:hover {
                box-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
            }

            + .item {
                margin-top: 20px;
            }

            .itemImage {
                width: 200px;
                height: auto;
                flex-shrink: 0;
                background-color: #ccc;
                overflow: hidden;
                position: relative;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &.noImage {
                    background-image: url('./img/no-image.jpg');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: #075ea5;
                        background: linear-gradient(135deg, #000000 0%, transparent 60%, transparent 80%, #ffcc01 100%);
                        z-index: 1;
                    }

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0.5;
                        background-color: #075ea5;
                        background-image: url('./img/bg-pattern.png');
                        background-position: center;
                        background-size: 3px;
                        background-repeat: repeat;
                        z-index: 2;
                    }
                }
            }

            .itemContent {
                position: relative;
                z-index: 2;
                padding: 20px;
                height: 100%;
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin-left: 20px;

                h2 {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 24px;
                    display: block;
                    margin-bottom: 10px;
                }

                .types {
                    margin-bottom: 20px;

                    .type {
                        font-size: 14px;
                        padding: 2px 5px;
                        display: inline-block;
                        margin-right: 10px;

                        &.article {
                            background: #008606;
                            color: #fff;
                        }

                        &.action {
                            background: #ffcc01;
                        }

                        &.news {
                            background: #075ea5;
                            color: #fff;
                        }
                    }
                }

                .information {
                    position: absolute;
                    right: 0;
                    top: 20px;
                    display: flex;
                    align-items: center;

                    .icon {
                        margin-right: 20px;
                        color: #999;


                        svg {
                            height: 15px;
                            vertical-align: middle;
                        }

                        span {
                            font-size: 12px;
                            line-height: 15px;
                            vertical-align: middle;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .Content {
        .container {
            padding: 0 10px;
        }
    }
}

@media (max-width: 768px) {
    .Content {
        .list {
            .item {
                .itemContent {
                    padding: 10px;
                    margin-left: 10px;

                    .information {
                        top: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .Content {
        .list {
            .item {
                flex-wrap: wrap;

                .itemImage {
                    width: 100%;
                    height: 200px;
                }

                .itemContent {
                    margin-top: 10px;
                    margin-left: 0;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .Content {
        .list {
            .item {
                .itemImage {
                    height: 150px;
                }

                .itemContent {
                    .types {
                        order: 2;
                        margin-bottom: 10px;
                    }

                    .information {
                        order: 1;
                        position: relative;
                        top: auto;
                        right: auto;
                        margin-bottom: 10px;
                    }

                    h2 {
                        order: 3;
                    }

                    p {
                        order: 4;
                    }
                }
            }
        }
    }
}