.DeveloperPage {
    position: relative;
}

.filter {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    > div {
        margin-right: 20px;
    }
}

.Content {
    padding: 40px 0;
    color: #000;

    h1 {
        display: flex;

        span {
            display: block;
            margin-right: auto;
            color: #fff;
        }
    }
}