.PopupTagCreate {
    width: 450px;
}

.content {

}

.field {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.field_label {
    font-size: 14px;
    color: black;
    margin-bottom: 3px;
    display: flex;
}