.Footer {
    width: 100%;
    padding: 40px 0;
    background-color: #075ea5;
    flex-shrink: 0;
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.4);

    .container {
        display: flex;
        flex: 1 1 auto;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        p {
            width: 25%;
            text-align: center;
            color: #fff;
            margin: 0;

            a {
                color: #ffcc01;
            }
        }
    }
}

@media (max-width: 1200px) {
    .Footer {
        .container {
            padding: 0 10px;
        }
    }
}

@media (max-width: 768px) {
    .Footer {
        .container {
            flex-wrap: wrap;

            p {
                width: 50%;
                margin-bottom: 20px;
            }
        }
    }
}

@media (max-width: 480px) {
    .Footer {
        .container {
            flex-wrap: wrap;

            p {
                width: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}