.BuildingItemPage {
    position: relative;
    flex-grow: 1;

    .Content {
        padding: 40px 0 0;
        color: #000;

        .container {
            width: 100%;
            height: 100%;
            margin: 0 auto 60px;
            max-width: 1024px;
            position: relative;
            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.4);
            background: #fff;
        }

        .information {
            .block {
                background: #fff;
                padding: 30px;
                flex-grow: 1;

                + .block {
                    border-top: 1px solid #075ea5;
                }

                .text {
                    text-align: justify;

                    ol,
                    ul {
                        padding-left: 20px;
                    }
                }

                .advantage {
                    margin-right: 20px;
                    width: auto;
                    display: flex;

                    svg {
                        width: 32px;
                        height: 32px;
                        margin-right: 5px;
                    }
                }

                .housing {
                    position: relative;
                    padding: 3px 20px;
                    cursor: pointer;

                    &:hover {
                        color: #fff;
                        background: #075ea5;
                    }

                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 4px;
                        height: 100%;
                        background: #075ea5;
                    }

                    + .housing {
                        margin-top: 20px;
                    }

                    .title {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 24px;
                    }
                }

                .mainInfo {
                    .buttons {
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        flex-wrap: wrap;

                        > div {
                            margin-right: 10px;
                            margin-bottom: 10px;
                        }
                    }

                    .passed {
                        margin-bottom: 10px;

                        span {
                            display: inline-block;
                            font-size: 14px;
                            line-height: 14px;
                            padding: 5px;
                            background: #075ea5;
                            color: #fff;
                            z-index: 3;
                        }

                        &.is {
                            span {
                                background: #ffcc01;
                                color: #000;
                            }
                        }
                    }

                    .tags {
                        width: 100%;
                        margin-bottom: 20px;

                        > div {
                            margin-right: 5px;
                            background: #ffcc01;
                            font-size: 14px;
                            padding: 2px 5px;
                            display: inline-block;
                        }
                    }

                    h1 {
                        font-size: 28px;
                        margin-bottom: 0;
                        position: relative;

                        .information {
                            position: absolute;
                            right: 0;
                            top: -28px;
                            display: flex;
                            align-items: center;

                            .icon {
                                margin-right: 20px;
                                color: #999;

                                svg {
                                    height: 15px;
                                    vertical-align: middle;
                                }

                                span {
                                    font-size: 12px;
                                    line-height: 15px;
                                    vertical-align: middle;
                                    margin-left: 5px;
                                }
                            }
                        }
                    }

                    .address {
                        margin-bottom: 20px;
                        font-size: 16px;

                        span {
                            display: block;
                        }
                    }

                    .row {
                        width: 25%;
                        margin-bottom: 15px;

                        span:first-child {
                            font-size: 22px;
                            display: block;
                            margin-bottom: 5px;
                        }

                        span:last-child {
                            text-transform: uppercase;
                            color: #777;
                            font-size: 16px;
                            display: block;
                        }
                    }
                }

                h2 {
                    text-transform: uppercase;
                    color: #777;
                    font-size: 20px;
                    display: block;
                    padding-bottom: 10px;
                    margin-bottom: 20px;
                    position: relative;

                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 150px;
                        height: 1px;
                        background: #ffcc01;
                    }
                }
            }

            .info {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;

                .col {
                    width: 48%;
                    margin-bottom: 15px;

                    .row {
                        display: flex;
                        width: 100%;

                        + .row {
                            margin-top: 10px;
                        }

                        .label {
                            width: 40%;
                            font-weight: 700;
                        }

                        .param {
                            width: 60%;
                            text-align: right;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .BuildingItemPage {
        .Content {
            .container {
                .block {
                    padding: 0 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .BuildingItemPage {
        .Content {
            .information {
                .block {
                    padding: 10px;

                    .mainInfo {
                        flex-wrap: wrap;

                        .row {
                            width: 50%;
                        }
                    }
                }

                .block {
                    .col {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .BuildingItemPage {
        .Content {
            .information {
                .block {
                    .mainInfo {
                        h1 {
                            .information {
                                right: auto;
                                left: 0;
                                top: -25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .BuildingItemPage {
        .Content {
            .information {
                .block {
                    .mainInfo {
                        h1 {
                            .information {
                                right: auto;
                                left: 0;
                                top: -25px;

                                .icon {
                                    margin-right: 5px;

                                    svg {
                                        height: 12px;
                                    }

                                    span {
                                        font-size: 11px;
                                    }
                                }
                            }
                        }

                        .row {
                            width: 100%;
                            display: flex;
                            align-items: center;

                            > span:first-child {
                                order: 2;
                                margin-left: 20px;
                                margin-bottom: 0;
                            }

                            > span:last-child {
                                order: 1;
                            }
                        }

                        .buttons {
                            > div {
                                margin-right: 0;
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}