.PopupBuildingCreate {
    width: 800px;
    height: 500px;
}

.content {
    height: 393px;
    overflow: auto;

    .info {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 15px 15px 0;
    }
}

.tabContent {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.field {
    width: 49%;
    margin-bottom: 10px;
    position: relative;
}

.field_label {
    font-size: 14px;
    color: black;
    margin-bottom: 3px;
    display: flex;
}

.advantagesList {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .field {
        width: 32%;
    }
}