.Policy {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.Content {
    padding: 40px 0;
    flex-grow: 1;

    .container {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        background-color: rgba(7, 94, 165, 0.6);
        padding: 60px 40px;

        h1, h2, h3 {
            color: #fff;
        }

        p {
            color: #fff;
        }
    }
}