.AppRouter {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.service-content {

}