.AdministrationPagePanel {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.Content {
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    h1 {
        display: flex;

        span {
            display: block;
            margin-right: auto;
            color: #fff;
        }
    }

    .tabs {
        flex-grow: 1;
    }

    .tabContent {
        padding: 15px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        background: #fff;
    }

    .footer {
        display: flex;
        justify-content: flex-end;
        background-color: #fff;
        padding: 15px;
        border-top: 1px solid #075ea5;
    }

    .info {

    }

    .field {
        width: 49%;
        margin-bottom: 10px;
        position: relative;

        &.full {
            width: 100%;
        }
    }

    .field_label {
        font-size: 14px;
        color: black;
        margin-bottom: 3px;
        display: flex;
    }
}