.PopupUserCreate {
    width: 550px;
}

.content {

}

.tabContent {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.cols {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.field {
    width: 49%;
    margin-bottom: 10px;
    position: relative;
}

.fieldFull {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.field_label {
    font-size: 14px;
    color: black;
    margin-bottom: 3px;
    display: flex;
    align-items: flex-end;

    span {
        display: block;
        margin-left: auto;
        font-size: 12px;
        color: #aaa;
        cursor: pointer;

        &:hover {
            color: #777;
        }
    }
}